{% extends "base.html" %}
{% block content %}

    <h3 class="purple-text lighten-2 center">Edit Review</h3>

    <div class="row card-panel col s12">
        <form class="col s12" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-film prefix purple-text lighten-2"></i>
                    <!-- auto fills the film name  -->
                    <input id="movie_name" name="movie_name" type="text" value=" {{ review.movie_name  }}" class="validate" required>
                    <label for="movie_name">Film Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 center-alignment">
                    <i class="fas fa-sort-amount-down-alt prefix purple-text lighten-2"></i>
                        <select id="genre_name" name="genre_name" class="validate" required>
                            <option value="" disabled>Choose Genre</option>
                            {% for genre in genres %}
                            <!-- gets genre and autofills it while also loading the genres for the dropdown  -->
                                {% if genre.genre_name == review.genre_name %}
                                    <option value="{{ genre.genre_name }}" selected>{{ genre.genre_name }}</option>
                                {% else %}
                                    <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    <label for="genre_name">Film Genre</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-edit prefix purple-text lighten-2"></i>
                    <!-- auto fills the movie review  -->
                    <input id="movie_review" name="movie_review" type="text" value=" {{ review.movie_review  }}" class="validate" required>
                    <label for="movie_review">Enter review here!</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-star prefix purple-text lighten-2"></i>
                         <select id="movie_rating" name="movie_rating" class="validate" required>
                            <option value="" disabled selected>Choose your Rating</option>
                            {% for rating in ratings %}
                            <!-- auto fills the rating and also gets the dropdown box info  -->
                                {% if rating.rating == review.movie_rating %}
                                    <option value="{{ rating.rating }}" selected>{{ rating.rating }}</option>
                                {% else %}
                                    <option value="{{ rating.rating }}" >{{ rating.rating }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    <label for="movie_rating">Film Rating</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn waves-effect purple lighten-2 center-alignment" type="submit">Edit Review
                        <i class="material-icons right"></i>
                    </button>
                </div>

            </div>
        </form>
    </div>

{% endblock %}