{% extends "base.html" %}
{% block content %}


    <h3 class="purple-text lighten-2 center">Film Reviews</h3>

    <ul class="collapsible">
        {% for review in reviews %}
        <!-- All reviews -->
        <li>
            <div class="reviews collapsible-header white-text purple darken-1">
                <div class="col s3">
                    <i class="fas fa-arrows-alt-v "></i>
                </div>
                <div class="col s3">
                    {% if session.user == review.created_by %}
                    <!-- buttons will only show if the review was created by the current user -->
                    <!-- edit and delete reviews -->
                    <a href="{{ url_for('edit_review', review_id=review._id) }}" class="waves-effect purple lighten-2 btn-small center edit"> Edit </a><br>
                    <a href="{{ url_for('delete_review', review_id=review._id) }}" class="waves-effect purple lighten-2 btn-small center">Delete</a>
                    {% endif %}
                </div>
                <div class="col s6">
                    <!-- film and author -->
                    <strong>{{ review.movie_name }}</strong><br>
                    <strong>Written by : {{ review.created_by }}</strong>
                </div>
            </div>
            <div class="collapsible-body">
                <!-- genre, rating and the main review -->
                <strong>Genre : </strong><p>{{ review.genre_name }}</p>
                <strong>Review : </strong><p>{{ review.movie_review }}</p>
                <strong>Rating : </strong><p>{{ review.movie_rating }}</p>
            </div>
        </li>
        
        {% endfor %}
    </ul>
    <div class=" row col s12 m4 center fixed topbutton">
        <!-- button to take person back to the top go the page -->
        <a href="{{ url_for('get_reviews') }}">Back to top of page</a>
    </div>
{% endblock %} 