  
{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Log In</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-id-card-alt prefix purple-text lighten-2"></i>
                        <input id="username" name="username" type="text" minlength="3"
                         maxlength="20" class="validate" pattern="^[a-zA-Z0-9]{3,15}$" required>
						<label for="username">Username</label>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix purple-text lighten-2"></i>
                        <input id="password" name="password" type="password" minlength="5"
                         maxlength="15" class="validate" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large purple lighten-2">
                        Log in <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Haven't got an Account?
                <a href="{{ url_for('register') }}">Register Account</a>
            </p>
        </div>
    </div>

{% endblock %}