  
{% extends "base.html" %}
{% block content %}
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function() {
            emailjs.init("user_ZsGfUJOV66pQ3SLKKXSM0");
    })();
    </script>
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById('registerform').addEventListener('submit', async function(event) {
                event.preventDefault();
                await emailjs.sendForm('gmail', 'film_club', this);
                this.submit();
            });
        }
    </script>

    
    <h3 class="center-align">Register</h3>

    <div class="row">
        <form id="registerform" class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}" >
            <div class="card-panel">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-tag prefix purple-text lighten-2"></i>
                        <input id="username" name="username" type="text" minlength="3"
                         maxlength="20" class="validate" pattern="^[a-zA-Z0-9]{3,15}$" required>
						<label for="username">Username</label>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix purple-text lighten-2"></i>
                        <input id="password" name="password" type="password" minlength="5"
                         maxlength="15" class="validate" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- email -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-envelope prefix purple-text lighten-2"></i>
                        <input id="emailaddress" name="emailaddress" type="text" required>
                        <label for="emailaddress">Email Address</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">   
                    <button type="submit" class="col s12 btn-large purple lighten-2 text-shadow">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already have an Account?
                <a href="{{ url_for('login') }}" >Log In</a>
            </p>
        </div>
    </div>

    
    <script src="{{ url_for('static', filename='js/sendEmail.js') }}"></script>
{% endblock %}