{% extends "base.html" %}
{% block content %}




    <ul class="collapsible">
        {% for task in reviews %}
        <li>
            <div class="collapsible-header white-text purple darken-1">
                <i class="fas fa-arrows-alt-v"></i><strong>{{ task.movie_name }}</strong>
            </div>
            <div class="collapsible-body">
                <p>Genre : {{ task.genre_name }}</p>
                <p>Review : {{ task.movie_review }}</p>
                <p>Rating : {{ task.movie_rating }}/5</p>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %} 